[submodule "submodules/libROUNDSchemes"]
	path = submodules/libROUNDSchemes
	url = https://github.com/advanCFD/libROUNDSchemes.git
[submodule "submodules/WENOEXT"]
	path = submodules/WENOEXT
	url = https://github.com/WENO-OF/WENOEXT.git
[submodule "submodules/lagrangianExtraFunctionObjects-OF5x"]
	path = submodules/lagrangianExtraFunctionObjects-OF5x
	url = https://github.com/blueCFD/lagrangianExtraFunctionObjects.git
