[submodule "submodules/libROUNDSchemes"]
	path = submodules/libROUNDSchemes
	url = https://github.com/advanCFD/libROUNDSchemes.git
[submodule "submodules/WENOEXT"]
	path = submodules/WENOEXT
	url = https://github.com/WENO-OF/WENOEXT.git
[submodule "submodules/lagrangianExtraFunctionObjects"]
	path = submodules/lagrangianExtraFunctionObjects
	url = git@github.com:blueCFD/lagrangianExtraFunctionObjects.git
